<form [formGroup]="form">
  <div class="form-group">
    <label for="old">Old Password</label
    ><input
      formControlName="old"
      id="old"
      type="password"
      class="form-control"
    />
    <div *ngIf="old.pending">Checking password...</div>
    <div *ngIf="old.touched && old.invalid" class="alert alert-danger">
      <div *ngIf="old.errors.required">Old password is required.</div>
      <div *ngIf="old.errors.mustEqual1234">Old password is not valid.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="new">New Password</label
    ><input
      formControlName="new"
      id="new"
      type="password"
      class="form-control"
    />
    <div *ngIf="new.touched && new.invalid" class="alert alert-danger">
      <div *ngIf="new.errors.required">New password is required.</div>
      <div *ngIf="new.errors.invalidOldPassword">
        New password is not valid.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm">Confirm Password</label
    ><input
      formControlName="confirm"
      id="confirm"
      type="password"
      class="form-control"
    />
    <div *ngIf="confirm.touched && confirm.invalid" class="alert alert-danger">
      <div *ngIf="confirm.errors.required">Confirm password is required.</div>
      <div *ngIf="confirm.errors.mustEqual1234">
        Confirm password is not valid.
      </div>
    </div>
    <div
      *ngIf="confirm.valid && form.invalid && form.errors.passwordsShouldMatch"
      class="alert alert-danger"
    >
      Passwords do not match
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>
